* {
    font-family: Arial, Helvetica, sans-serif; /* Esto lo utilicé ya que quería que mi tabla sea lo más parecida posible al ejemplo */
}

body {
  width: 60%; /*Para que ocupe un 60% de la página*/
}

h1 {
    background-color: #00aeef;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

th {
    background-color: #00aeef;
    color: #fff;
    height: 25px;
}

p{
    text-align: center;
}

table {
    border: 0cm;
    display: flex; 
    justify-content: center;    /* Para que la tabla esté centrada en el medio de la página use display y justify-content*/
    text-align: center;
    margin: 5px;
    padding: 5px;
}


.filas{
    margin: 5px;
    padding: 5px;
}

.hoy{
    margin: 5px;
    padding: 5px;
}

.mañana{
    margin: 5px;
    padding: 5px;
}

.domingo{
    margin: 5px;
    padding: 5px;
}